// Form Wizard

.register-form {
  .step {
    max-width: 400px;
    margin-inline: auto;
  }
  #step_3 {
    max-width: 538px;
  }
}

.wizard {
  overflow: hidden;
  // max-width: 468px;
  margin-inline: auto;
  // max-width: 100%;
  width: 100%;
}
.wizard .wizard-header {
  margin-bottom: 40px;
  // @include max-768 {
  //   margin-bottom: 30px;
  // }
}

.wizard .wizard-body {
  position: relative;
  transition: all 0.3s cubic-bezier(0.68, -0.3, 0.37, 0.6);
}

.wizard .wizard-body .step {
  display: none;
}
.wizard .wizard-body .step.initial {
  position: relative;
}
.wizard .wizard-body .step.active {
  display: block;
}
.wizard-btn-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 26px;
}

.progressbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  @include max-768 {
    justify-content: unset;
    align-items: flex-start;
    gap: 15px;
  }
  // @include max-768 {
  //   flex-wrap: nowrap;
  //   overflow-x: auto;
  //   &::-webkit-scrollbar {
  //     display: none;
  //   }
  // }
  // @include max-385 {
  //   justify-content: flex-start;
  // }
}

// .progressbar li:last-of-type {
//   -webkit-box-flex: 0;
//   -ms-flex: 0;
//   flex: 0;
// }

.progressbar li:last-of-type::after {
  display: none;
}

.progressbar li.active::after {
  background-color: $main-color;
}

.progressbar li {
  display: flex;
  align-items: center;
  @include max-768 {
    flex-direction: column;
    gap: 7px;
    width: calc((100% / 3) - 10px);
  }
}

.progressbar li::after {
  width: 30px;
  height: 4px;
  background-color: #edf4ff;
  content: "";
  margin: 0 10px;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  @include max-768 {
    display: none;
  }
}

.progressbar li span {
  display: inline-block;
  // white-space: nowrap;
  font-size: 14px;
  color: #000;
  @include max-768 {
    width: 100%;
    max-width: 90px;
    text-align: center;
  }
}

.num {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  background-color: #edf4ff;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: $main-color;
  flex-shrink: 0;
  margin-inline-end: 10px;
  @include max-768 {
    margin: 0;
  }
  // @include max-768 {
  //   width: unset;
  //   height: unset;
  //   background-color: transparent;
  //   color: #000;
  //   margin-inline-end: 6px;
  // }
}

.progressbar li.active .num {
  background-color: $main-color;
  color: #fff;
  // @include max-768 {
  //   background-color: unset;
  //   color: $main-color;
  // }
}
.progressbar li.active span {
  color: $main-color;
}

.digit-group {
  direction: ltr;
  margin-bottom: 25px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
}
.digit-group input {
  background-color: #fff;
  border: 2px solid #dee1e6;
  border-radius: 10px;
  font-size: 20px;
  color: #c2c2c2;
  width: 100%;
  max-width: 47px;
  height: 55px;
  // line-height: 60px;
  outline: none;
  text-align: center;
  margin: 0 3px;
  transition: all 0.3s ease-in-out;
  &::-webkit-inner-spin-button {
    display: none;
  }
}
.digit-group input:focus {
  border-color: $main-color;
  color: $main-color;
}
.verfiy-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countDown-content {
  text-align: center;
  font-size: 14px;
  line-height: 1.57;
  color: #343434;
  margin-bottom: 0;
}
#step_2,
#step_3 {
  .general-btn {
    min-width: 248px;
  }
}

.success-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  .success-icon {
    font-size: 72px;
    color: #0363f6;
    margin-bottom: 30px;
    @include max-768 {
      font-size: 55px;
      margin-bottom: 20px;
    }
  }
  .success-title {
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.66;
    color: #000000;
    margin-bottom: 10px;
  }
  .success-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.56;
    color: #000000;
    margin-bottom: 20px;
  }
}
